#api-list {
	p {
		margin-bottom: 4vh;
	}
	h4 {
		color: $golden;
		font-family: $ibmplexmono;
		margin-bottom: 4vh;
		font-weight: 400;
	}
	.single-api {
		margin: 0 2vw 4vh 0;
		padding: 4vh;
		border-radius: $borderRadius;
		-webkit-border-radius: $borderRadius;
		-moz-border-radius: $borderRadius;
		-ms-border-radius: $borderRadius;
		-o-border-radius: $borderRadius;
		background: $spacecadet;
		box-shadow: $boxShadow;
		position: relative;

		.section-buttons {
			position: absolute;
			right: 0;

			.button {
				margin-right: 2vw;
				color: $snowwhite;
			}
		}

		span {
			margin-bottom: 4vh;
			display: inline-block;
		}

		.aquagreen {
			color: $aquagreen;
		}
		.lavender {
			color: $lavender;
		}

		.dazzlerose {
			color: $dazzlerose;
		}

		ul {
			li {
				margin-bottom: 4vh;
				margin-left: 2vw;
			}
		}
	}
}

.center-line {
	position: relative;
	top: 0.4vh;
}
